* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	max-width: 1100px;
}

form {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.form-section {
	flex: 1 1 300px;
	display: flex;
	flex-direction: column;
	gap: 13px;
}

legend {
	font-size: 25px;
}

.form-elem {
	display: flex;
	flex-direction: column;
}

.gender-elements {
	display: flex;
	align-items: center;
	gap: 15px;
}

.form-elem-radio {
	display: flex;
}

.gender-options {
	display: flex;
	gap: 15px;
}

.color-options {
	display: flex;
}

.buttons {
	display: flex;
	justify-content: flex-end;
}