* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
}

form {
	display: flex;
}
.form-section {
	flex: 1 1 300px;
}

legend {
	font-size: 25px;
}

.form-elem {
	display: flex;
	flex-direction: column;
}

.gender-elements {
	display: flex;
	align-items: center;
	gap: 15px;
}

.form-elem-radio {
	display: flex;
}

.gender-options {
	display: flex;
	gap: 15px;
}

.color-options {
	display: flex;
}

.buttons {
	display: flex;
	justify-content: flex-end;
}