* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.form-area {
	display: flex;
	justify-content: space-between;
	width: 1000px;
}

.form-section {
	flex: 1 1 500px;
	display: flex;
	flex-direction: column;
	gap: 13px;
}

legend {
	font-size: 25px;
}

.form-elem {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.gender-elements {
	display: flex;
	gap: 15px;
}

.color-option, .color-options {
	display: flex;
	align-items: center;
}

.form-elem-radio {
	display: flex;
}

.gender-options {
	display: flex;
	gap: 15px;
}

.buttons {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	gap: 30px;
}

.btn {
	padding: 5px 15px;
	font-size: 17px;
	border: 1px solid black;
	border-radius: 4px;
}